
/* Scrollable css for Plagium */
.scrollable {
	position: relative;
    overflow: auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(200,200,200,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4); 
}


#plagium_settings_form fieldset{
  border:1px solid #999;
  padding: 0 20px 0 20px;
  margin-top:10px;
}

#plagium_settings_form legend{
  border:1px solid #999;
  padding: 0 20px 0 20px;
  font-weight: bold;
}

#plagium_container
{
    width:100%;
    border-top:1px solid #AAA;
    margin-top:10px;
}

.plagium_error
{
    display:none;
    color:red;
}

.plagium_status
{
    width:100%;
    border:1px solid #AAA;
    text-align:center;
    padding: 5px 0 5px 0;
}

.plagium_message
{
    display:none;
    width:100%;
    border:1px solid #AAA;
    text-align:center;
    padding: 5px 0 5px 0;
}

#plagium_content
{
    width:100%;
    padding-top:10px;
}

.content {
	padding:10px 0 10px 0;
	width: 100%;
	overflow: none;
}

.contentOpen {
	padding-right:260px!important;
}

.label.foundDocuments:hover {
	cursor:pointer;
	cursor:hand;
}

.content p {
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 300;
	padding: 5px 8%;
	text-align: justify;
}

.content .leftColumnTop {
	width:65%;
	height:20px;
	float:left;
	font-size:0.8em;
	margin:0;
}
.content .rightColumnTop {
	width:30%;
	height:20px;
	float:right;
	font-size:0.8em;
	margin:0 20px 0 0;
}

.content .leftColumn {
	width:65%;
    height:500px;
	float:left;
}

.content .leftColumn p {
	padding:0;
	font-size:0.9em;
}

.content .leftColumn div.page {
	padding:5px 5px 5px 5px;
	background-color:#F7F8E0;
}

.content .leftColumnBottom {
	width:68%;
	text-align:right;
	font-size:0.8em;
	padding-right:15px;
}

.content.contentOpen div.leftColumnBottom {
	text-align:right;
	font-size:0.8em;
	padding-right:15px;
}

.content .rightColumn {
	width:30%;
    height:500px;
	float:right;
	font-size:0.8em;
	margin-right:20px;
}

.content .miniResults {
	padding-right:10px;
}

.result{
		text-align:left;
		margin-bottom:5px;
		padding:2px 3px 2px 3px;
}
.result:hover{
		background-color:#EEEEEE;
}
.result.highlight{
		background-color:yellow!important;
}
.result:hover.highlight{
		background-color:yellow!important;
}

.content.contentOpen div.rightColumn {
	display:none;
}

.content .rightColumn .documentNumber{
	padding:10px 5px 10px 5px;
	margin:0 10px 10px 0;
	background-color:#F7F8E0;
	color: #666666;
	font-size:1.0em;
	font-weight:bold;
}

.waitingWeel {
	text-align:center;
}

.highlight { 
	background-color: yellow;
}

.highlightQuery { 
	background-color: #cfcfcf;
}

.highlightQuery:hover { 
	background-color: yellow;
	cursor: hand; 
	cursor: pointer;
}

.queryOpen { 
	background-color: yellow;
}
